@model PersonalBlog.CoreLayer.DTOs.Posts.FilterPostDto
@using PersonalBlog.CoreLayer.Utilities;
@using PersonalBlog.CoreLayer.Services.Categories
@inject ICategoryService categoryService
@{
    ViewData["Title"] = "پست ها";
    ViewData["selected"] = "post";
    var count = 1;
}
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="admin" asp-controller="Post" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>
<section class="content">
    <a class="btn btn-success" asp-area="admin" asp-controller="Post" asp-action="Add"
        style="margin-bottom: 5px;">افزودن پست جدید</a>
    <form method="get" asp-area="admin" asp-controller="Post" asp-action="Index">
        <partial name="_PostFiltering" model="@Model"/>
    </form>
    <div class="box box-primary">
        <div class="box box-body p-0">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>عنوان</th>
                        <th>عکس</th>
                        <th>نویسنده</th>
                        <th>گروه</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var p in Model.posts)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@p.Title</td>
                            <td><img style="width: 150px;" src="@Directories.ThumbSrc@p.Image"></td>
                            <td></td>
                            <td>@p.Category.Title</td>
                            <td>
                                <a asp-area="admin" asp-controller="Post" asp-action="Edit" asp-route-id="@p.PostId" class="btn btn-info btn-sm">ویرایش</a>
                                <a asp-area="admin" asp-controller="Post" asp-action="Delete" asp-route-id="@p.PostId" class="btn btn-danger btn-sm">حذف</a>
                            </td>
                        </tr>
                        count++;
                    }


                </tbody>
            </table>
            <partial name="_PaginationPost" model="@Model"/>

        </div>
    </div>
</section>