@model PersonalBlog.CoreLayer.DTOs.Posts.FilterPostDto
@{
    var currentPage = Model.filterParams.PageId;
    var next = currentPage + 1;
    var previous = currentPage - 1;
}
<div class="" id="example2_paginate">
    <ul class="pagination">
        <li class="paginate_button previous" id="example2_previous">
            <a asp-area="admin" asp-controller="Post" asp-action="Index" asp-route-pageid="@previous"
                asp-route-search="@Model.filterParams.Search"
                asp-route-categorySlug="@Model.filterParams.CategorySlug">Previous</a>
        </li>

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="@(i == currentPage ? "active" : null)">
                <a asp-area="admin" asp-controller="Post" asp-action="Index" asp-route-pageid="@i"
                    asp-route-search="@Model.filterParams.Search"
                    asp-route-categorySlug="@Model.filterParams.CategorySlug">@i</a>
            </li>
        }

        <li class="paginate_button next" id="example2_next">
            <a asp-area="admin" asp-controller="Post" asp-action="Index" asp-route-pageid="@next"
                asp-route-search="@Model.filterParams.Search"
                asp-route-categorySlug="@Model.filterParams.CategorySlug">Next</a>
        </li>
    </ul>
</div>
