@model EditCategoryViewModel
@{
    ViewData["Title"] = "ویرایش دسته بندی";
}
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>
<section>
    <div class="box box-primary">
        <form role="form" method="post" asp-area="admin" asp-controller="Category" asp-action="Edit">
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <div class="box-body">
                <div class="col-md-6">
                    @Html.EditorFor(Model=>Model.Title)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(Model=>Model.MetaTag)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(Model=>Model.MetaDescription)
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </form>
    </div>
    
</section>