@model EditCategoryViewModel
@{
    ViewData["Title"] = "ویرایش دسته بندی";
}
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="admin" asp-controller="Category" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a>
        </li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>
<section>
    <div class="box box-primary">
        <form role="form" method="post" asp-area="admin" asp-controller="Category" asp-action="Edit">
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <div class="box-body">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input type="text" asp-for="Title" class="form-control placeholder="عنوان" value="@Model.Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaTag"></label>
                    <input type="text" asp-for="MetaTag" class="form-control placeholder="MetaTag" value="@Model.MetaTag">
                    <span asp-validation-for="MetaTag"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MetaDescription"></label>
                    <input type="text" asp-for="MetaDescription" class="form-control placeholder="MetaDescription" value="@Model.MetaDescription">
                    <span asp-validation-for="MetaDescription"></span>
                </div>
                
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </form>
    </div>
    
</section>