@page
@using PersonalBlog.CoreLayer.Utilities;
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var SpecialPosts = Model.mainDto.SpecialPosts;
    var currentCategory = Model.mainDto.Categories.FirstOrDefault(c => c.IsCurrentCategory == true);
}


@if (SpecialPosts.Any())
{
    <!-- Trending Now -->
    <div class="container">
        <div class="trending-now">
            <span class="trending-now__label">
                <i class="ui-flash"></i>
                خبرهای داغ</span>
            <div class="newsticker">
                <ul class="newsticker__list">
                    @foreach (var post in SpecialPosts)
                    {
                        <li class="newsticker__item"><a asp-page="Post" asp-route-Slug="@post.Slug"
                                class="newsticker__item-url">@post.Title</a></li>
                    }
                </ul>
            </div>
            <div class="newsticker-buttons">
                <button class="newsticker-button newsticker-button--next" id="newsticker-button--next"
                    aria-label="previous article"><i class="ui-arrow-left"></i></button>
                <button class="newsticker-button newsticker-button--prev" id="newsticker-button--prev"
                    aria-label="next article"><i class="ui-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <!-- Featured Posts Grid -->
    <section class="featured-posts-grid">
        <div class="container">
            <div class="row row-8">

                <div class="col-lg-6">
                    @for (int i = 1; i < SpecialPosts.Count; i++)
                    {
                        <!-- Small post -->
                        <div class="featured-posts-grid__item featured-posts-grid__item--sm">
                            <article class="entry card post-list featured-posts-grid__entry">
                                <div class="entry__img-holder post-list__img-holder card__img-holder"
                                    style="background-image: url(@Directories.GetThumbImg(SpecialPosts[i].Image))">
                                    <a asp-page="Post" asp-route-Slug="@SpecialPosts[i].Slug" class="thumb-url"></a>
                                    <img src="@Directories.GetThumbImg(SpecialPosts[i].Image)" alt="" class="entry__img d-none">
                                    <a asp-page="Category" asp-route-Slug="@SpecialPosts[i].Category?.Slug"
                                        class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">@SpecialPosts[i].Category?.Title</a>
                                </div>

                                <div class="entry__body post-list__body card__body">
                                    <h2 class="entry__title">
                                        <a asp-page="Post" asp-route-Slug="@SpecialPosts[i]?.Slug">@SpecialPosts[i].Title</a>
                                    </h2>
                                    <ul class="entry__meta">
                                        <li class="entry__meta-author">
                                            <span>نویسنده:</span>
                                            <a href="#">@SpecialPosts[i].User?.UserName</a>
                                        </li>
                                        <li class="entry__meta-date">
                                            @SpecialPosts[i].CreationDate
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>

                        <!-- end post -->
                    }
                </div> <!-- end col -->

                <div class="col-lg-6">

                    <!-- Large post -->
                    <div class="featured-posts-grid__item featured-posts-grid__item--lg">
                        <article class="entry card featured-posts-grid__entry">
                            <div class="entry__img-holder card__img-holder">
                                <a asp-page="Post" asp-route-Slug="@SpecialPosts[0].Slug">
                                    <img src="@Directories.GetThumbImg(SpecialPosts[0].Image)" alt="" class="entry__img">
                                </a>
                                <a asp-page="Category" asp-route-Slug="@SpecialPosts[0].Category?.Slug"
                                    class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">@SpecialPosts[0].Category?.Title</a>
                            </div>

                            <div class="entry__body card__body">
                                <h2 class="entry__title">
                                    <a asp-page="Post" asp-route-Slug="@SpecialPosts[0].Slug">@SpecialPosts[0].Title</a>
                                </h2>
                                <ul class="entry__meta">
                                    <li class="entry__meta-author">
                                        <span>نویسنده:</span>
                                        <a href="#">@SpecialPosts[0].User?.UserName</a>
                                    </li>
                                    <li class="entry__meta-date">
                                        @SpecialPosts[0].CreationDate
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div> <!-- end large post -->
                </div>

            </div>
        </div>
    </section>

    <!-- end featured posts grid -->
}


<div class="main-container container pt-24" id="main-container">

    <!-- Content -->
    <div class="row">

        <!-- Posts -->
        <div class="col-lg-8 blog__content">

            <!-- Latest News -->
            <div id="posts">
                <partial name="_MainPagePagination" model="@Model.mainDto"/>
            </div>
             <!-- end latest news -->

        </div> <!-- end posts -->

        <!-- Sidebar -->
        <partial name="_SideBar" />
        <!-- end sidebar -->

    </div> <!-- end content -->

</div>

@section script {
    <script>
        function Pagination(s) {
            $.ajax({
                url: `/Index?Slug=${s}&handler=Pagination`,
                type: 'GET'
            })
                .done(function (data) {
                    document.getElementById("posts").innerHTML = data;
                })
        }
    </script>
}