@using PersonalBlog.CoreLayer.Utilities
@using PersonalBlog.CoreLayer.Services.Posts
@inject IPostService _PostService
@{
    var posts = _PostService.GetPopularPosts();
}
<aside class="widget widget-popular-posts">
    <h4 class="widget-title">محبوب ترین مقالات</h4>
    <ul class="post-list-small">
        @foreach (var post in posts)
        {
            <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                    <div class="post-list-small__img-holder">
                        <div class="thumb-container thumb-100">
                            <a asp-page="Post" asp-route-slug="@post.Slug">
                                <img data-src="@Directories.GetThumbImg(post.Image)" src="@Directories.GetThumbImg(post.Image)" alt=""
                                    class="post-list-small__img--rounded lazyload">
                            </a>
                        </div>
                    </div>
                    <div class="post-list-small__body">
                        <h3 class="post-list-small__entry-title">
                            <a asp-page="Post" asp-route-slug="@post.Slug">@post.Title</a>
                        </h3>
                        <ul class="entry__meta">
                            <li class="entry__meta-author">
                                <span>نویسنده:</span>
                                <a href="#">@(post.User?.FullName ?? "یافت نشد")</a>
                            </li>
                            <li class="entry__meta-date">
                                @post.CreationDate
                            </li>
                        </ul>
                    </div>
                </article>
            </li>
        }
    </ul>
</aside>