@using PersonalBlog.CoreLayer.Utilities
@using PersonalBlog.CoreLayer.Services.Posts
@inject IPostService _PostService
@{
    var posts = _PostService.GetPopularPosts();
}
<aside class="col-lg-4 sidebar sidebar--right">
    <aside class="widget widget-popular-posts">
        <h4 class="widget-title">محبوب ترین مقالات</h4>
        <ul class="post-list-small">
            @foreach (var post in posts)
            {
                <li class="post-list-small__item">
                    <article class="post-list-small__entry clearfix">
                        <div class="post-list-small__img-holder">
                            <div class="thumb-container thumb-100">
                                <a asp-page="Post" asp-route-slug="@post.Slug">
                                    <img data-src="@Directories.GetThumbImg(post.Image)"
                                        src="@Directories.GetThumbImg(post.Image)" alt=""
                                        class="post-list-small__img--rounded lazyload">
                                </a>
                            </div>
                        </div>
                        <div class="post-list-small__body">
                            <h3 class="post-list-small__entry-title">
                                <a asp-page="Post" asp-route-slug="@post.Slug">@post.Title</a>
                            </h3>
                            <ul class="entry__meta">
                                <li class="entry__meta-author">
                                    <span>نویسنده:</span>
                                    <a href="#">@(post.User?.FullName ?? "یافت نشد")</a>
                                </li>
                                <li class="entry__meta-date">
                                    @post.CreationDate
                                </li>
                            </ul>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </aside>
    <!-- Widget Newsletter -->
    <aside class="widget widget_mc4wp_form_widget">
        <h4 class="widget-title">خبرنامه</h4>
        <p class="newsletter__text">
            <i class="ui-email newsletter__icon"></i>
            برای اطلاع از آخرین خبرها مشترک شوید
        </p>
        <form class="mc4wp-form" method="post">
            <div class="mc4wp-form-fields">
                <div class="form-group">
                    <input type="email" name="EMAIL" placeholder="ایمیل" required="">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-color" value="عضویت">
                </div>
            </div>
        </form>
    </aside> <!-- end widget newsletter -->

    <!-- Widget Ad 300 -->
    <aside class="widget widget_media_image">
        <a href="#">
            <img src="img/content/mag-1.jpg" alt="">
        </a>
    </aside> <!-- end widget ad 300 -->
</aside>